@import "../../../styles/variables/variables";

.bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;

  &__background {
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto;
  }

  &__blur {
    bottom: 0;
    position: absolute;
    width: 100%;
    aspect-ratio: 7.3/1;
    backdrop-filter: $blur;
    background-color: $secondary-transparent;
  }

  &__fill-container {
    padding: 0 1.5%;
    aspect-ratio: 23/1;
    z-index: 1;
    position: absolute;
    width: 100%;
    bottom: 21.5%;
  }

  &__fill {
    background-color: $accent-color;
    width: 100%;
    height: 100%;
  }
}
