:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark-theme {
  --bg-color: #000000;
  --text-color: #ffffff;
}

// setting for light and dark schemes

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  background-color: var(--bg-color);
  color: var(--text-color);
  position: sticky;
  width: 100vw;
  height: 100vh;

  @media (min-width: 500px) {
    display: none;
  }
}
