* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  position: relative;
  background-color: #000000;
  color: #ffffff;
  position: sticky;
  width: 100vw;
  height: 100vh;

  h1 {
    padding-bottom: 30px;
  }

  @media (min-width: 500px) {
    display: none;
  }
}

.layout-element-one {
  padding-top: 41px;
  width: 100%;
  height: auto;
}

.layout-element-two {
  position: absolute;
  left: 50%;
  top: 24.5px;
}
