:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark-theme {
  --bg-color: #000000;
  --text-color: #ffffff;
}

// setting for light and dark schemes

* {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  position: fixed;
  background-color: white;
  width: 100vw;

  @media (min-width: 500px) {
    display: none;
  }
}
