@import "../../../../styles/variables/variables";

.header-container {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header-component-1 {
  position: absolute;
  width: 100%;
  height: auto;
  top: 19px;
}

.union-container {
  justify-content: center;
  position: absolute;
  top: 20px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 16%;
  padding-right: 16%;

  svg {
    width: 100%;
    height: auto;
  }
}
.left {
  filter: grayscale(100%);
}
.middle {
  filter: grayscale(100%);
}
.right {
  filter: grayscale(100%);
}

.left-selected path,
.middle-selected path,
.right-selected path {
  fill: $primary-color;
}

.logo-container {
  position: absolute;
  top: 50px;
}
