@import "../../../../styles/variables/variables";

.fight-row {
  text-transform: uppercase;
  padding-top: 10px;
  position: relative;

  &__underline {
    border-bottom: 1px solid rgba($accent-second, 0.4);
    width: 95%;
    position: relative;
    padding-top: 10px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      width: 10px;
      background: $primary-color;
      right: -12px;
      transform: rotate(130deg) translateY(6px);
    }
  }

  &__row,
  &__column {
    display: flex;
    gap: 15px;
  }

  &__row-time {
    width: 50px;
    margin-left: 12px;
    color: $accent-second;
    font-weight: bold;
    font-family: "Orbitron";
  }

  &__row-title {
    width: auto;
    color: $accent-second;
    font-weight: bold;
    font-family: "Orbitron";
  }

  &__row-icon {
    width: 50px;
    margin-left: 12px;
  }

  &__row-description {
    font-family: "Chakra Petch";
    max-width: 200px;
    font-size: 0.7rem;
    color: rgba(white, 0.3);
  }

  &__second-row {
    display: flex;
    justify-content: space-between;
    padding-right: 5%;

    :last-child {
      align-self: end;
    }
  }

  &__status-won {
    text-align: end;
    color: $primary-color;
    font-weight: bold;
    font-size: 0.8rem;
    font-family: "Orbitron";
  }

  &__status-lost {
    text-align: end;
    color: $danger;
    font-weight: bold;
    font-size: 0.8rem;
    font-family: "Orbitron";
  }

  &__status-draw {
    text-align: end;
    color: grey;
    font-weight: bold;
    font-size: 0.8rem;
    font-family: "Orbitron";
  }
}
