@import "../../../styles/variables/variables";

.battle {
  padding: 12px 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    aspect-ratio: 15/1;
  }

  &__header-line {
    text-align: center;
    text-transform: uppercase;
    color: $text-color;
    font-size: 2vh;
    font-weight: 900;
    font-family: "Orbitron";
  }

  &__main {
    width: 100%;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  &__main-header {
    position: absolute;
    width: 100%;
    height: 17%;
    top: 2px;
    text-align: center;
    font-size: 1rem;
    color: black;
  }

  &__main-items {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 83%;
    overflow: hidden;
  }

  &__main-item {
    outline-offset: -1px;
    outline: 2px solid $primary-transparent;
    border: none;
    box-sizing: content-box;
    width: 33.3333333%;
    height: 100%;
    background: transparent;
    position: relative;

    &__disabled {
      .battle__item-footer {
        position: relative;
      }

      background: rgba(grey, 0.2);

      path {
        fill: grey;
      }

      div {
        color: grey;
      }
    }

    &__selected {
      .battle__item-footer {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 10%;
          top: 50%;
          transform: translateY(-50%);
          width: 15px;
          height: 15px;
          background-image: url("../../../assets/layout/fight/arrow.svg");
          background-size: contain;
          background-repeat: no-repeat;
        }

        &::after {
          content: "";
          position: absolute;
          right: 10%;
          top: 50%;
          transform: translateY(-50%);
          width: 15px;
          height: 15px;
          background-image: url("../../../assets/layout/fight/arrow2.svg");
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        width: 0;
        height: 0;
        border-right: 15px solid transparent;
        border-top: 15px solid $primary-color;
      }

      background: rgba($primary-color, 0.1);

      path {
        fill: $primary-color;
      }

      div {
        color: $primary-color;
      }
    }
  }

  &__main-pick {
    width: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__item-header {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item-footer {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.9rem;
    color: $accent-color;
  }

  &__item-image {
    height: 60%;
  }
}

h3 {
  font-weight: bold;
}

.result-container {
  text-transform: uppercase;
}
