@import "../styles/variables/variables";

.deposit-container {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.deposit-body {
  padding: 0 5% 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2%;
  max-height: 77%;
  height: 77%;

  &__banner {
    width: 100%;
    height: 100%;
  }

  &__events {
    width: 100%;
    align-content: end;
  }
}

.sing-container {
  &__sign {
    width: 100%;
    height: auto;
    position: relative;
  }

  &__title {
    font-weight: 900;
    position: fixed;
    color: $text-color;
    font-size: 13px;
    text-transform: uppercase;
    left: 50%;
    transform: translate(-50%, 28%);
  }
}
