* {
  font-family: "Chakra Petch", serif;
  font-weight: 500;
  font-style: normal;
}

span {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html,
body {
  height: var(--tg-viewport-height);
  margin: 0; /* Important: Remove default margins */
  background: gray;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
