@import "../styles/variables/variables";

.welcome-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom-text-container {
  line-height: 1.1;
  font-weight: bold;
  font-size: 9px;
  color: $accent-color;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}

.logo-container {
  height: 50%;
}
