@import "../../styles/variables/variables";

.button-container {
  padding: 3% 5% 5% 5%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: $blur;
  background-color: $accent-transparent;
  position: relative;

  &__top-border {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.main-button {
  width: 100%;
  height: auto;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;

  &__image {
    width: 100%;
    height: auto;
  }

  &__text {
    font-family: "Orbitron";
    width: 100%;
    text-transform: uppercase;
    position: absolute; // Position text over the image
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%); // Center the text
    color: rgb(0, 0, 0); // Or any color you want
    font-size: 3.5vh; // Adjust font size
    font-weight: 900; // Adjust font weight
  }

  &__glitch {
    z-index: 100;
    width: 100%;
    top: 30%;
    position: absolute;
  }
}
