.input-container {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout-element-one {
  top: 50px;
  position: absolute;
  width: 100%;
  transform: rotate(180deg);
}

input {
  text-align: center;
  border: none; /* Remove the border */
  text-transform: uppercase; /* Make text uppercase */
  outline: none; /* Remove the focus outline */
  background: transparent; /* Make the background transparent */
  padding: 5px 0; /* Add some padding */
  font-size: 30px; /* Adjust font size if needed */
  width: 100%; /* Make the input fill the container */
  color: white;
}
