@import "../../../styles/variables/variables";

.star-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 56px;
  width: 56px;
}

.star-bottom,
.star-top,
.skull-bottom,
.skull-top,
.card-bottom,
.card-top {
  position: absolute;
}

// .star-bottom,
// .skull-bottom,
// .card-bottom {
//   top: 1px;
// }

.star-top path,
.skull-top path,
.card-top path {
  fill: $primary-color;
}

.star-bottom path,
.skull-bottom path,
.card-bottom path {
  fill: $background-color;
}
