.events-container {
  width: 100%;
  height: 100%;
}

.sliding-list {
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.list-item {
  transition: transform 0.5s ease-in-out;
}

.slide-out {
  transform: translateX(100%);
}
