$primary-color: #fffb00;
$secondary-color: #7b61ff;
$accent-color: #00fffb;
$background-color: #000000;
$text-color: #000000;
$primary-transparent: rgba(255, 251, 0, 0.15);
$secondary-transparent: rgba(255, 251, 255, 0.04);
$accent-transparent: rgba(75, 255, 246, 0.15);
$blur: blur(10px);
