@import "../../../../styles/variables/variables";

.rule-container {
  position: relative;
  width: 90%;
  display: flex;
}

.left-element {
  width: 8px;
}

.star-container {
  backdrop-filter: $blur;
  -webkit-backdrop-filter: $blur;
  background-color: $primary-transparent;
  border: solid 1px $primary-color;
  padding: 6px;
}

.rectangle-comtainer {
  position: absolute;
  left: 65px;
  position: absolute;
  span {
    font-size: 8px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    left: 18px;
    top: 4px;
    color: $text-color;
  }
}

.text-comtainer {
  padding: 20px 50px 10px 10px;
}
