@import "../../../../styles/variables/variables";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__banner {
    align-self: center;
  }

  &__enough {
    color: grey;
    text-transform: lowercase;
    font-size: 0.5rem;
  }

  &__not-enough {
    color: $danger;
    text-transform: lowercase;
    font-size: 0.5rem;
  }
}

.container-balance {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $primary-color;
  font-size: 4vh;
  &__add {
    text-transform: lowercase;
    top: 15%;
    left: 58%;
    position: absolute;
    font-size: 0.7rem;
    color: $danger;
  }
}

.invoice-button {
  font-size: 1.5vh;
  text-transform: uppercase;
  position: relative;
  background: none;
  border: none;
  color: $accent-color;

  &__svg-image {
  }

  &__title {
    font-weight: 900;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title-shadow {
    font-weight: 900;
    color: $text-color;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
